            a {
				color: #3399cc;
            }
            
            .select {
				padding: 5px;
            	font-size: 16px;
            }
            
            .item {
				padding: 5px;
            	border: 1px #c0c0c0 solid;
            	border-radius: 5px;
            	margin: 10px;
            	font-size: 16px;
            	color: #636b6f;
            }
            
            .item i {
				font-size: 12px;
            }
            
            .item i.green {
            	color: #00cd00;
            }
            
            .item i.red {
				color: #cd0000;
            }
            
			.item i.blue {
				color: #0000cd;
            }
            
            .text {
				padding: 10px;
            	margin-top: 10px;
            	border: 1px #c0c0c0 solid;
            	border-radius: 5px;
            	font-size: 12px;
            	white-space: pre-wrap;
            	background-color: #fff;
            }
            
            .otherinfo {
				margin-top: 20px;
            	margin-bottom:10px;
            	font-size: 14px;
            }
            
            .submit {
				text-align: right;
            }
            
            .submit input {
				padding: 10px;
            	padding-left: 20px;
            	padding-right: 20px;
				font-size: 18px;
            }
            
            .strform {
				margin-bottom: 20px;
            }
            
            .hidden {
				display: none;
            }
            
            .searchblock {
            	padding: 10px;
				border: 1px #c0c0c0 solid;
            	border-radius: 5px;
            	margin-bottom: 30px;
            	margin-top: 10px;
            }